select {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

select.mdb-select {
  display: none !important;
}

select.mdb-select~.btn {
  display: none !important;
}

select.browser-default {
  display: block !important;
}

select:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.mdb-select .dropdown-content.fadeElement {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  display: block;
  width: 100%;
  top: 0;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0.7);
  visibility: hidden;
  pointer-events: none;
}

.mdb-select .dropdown-content.fadeElement.fadeIn {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


.scrollbar.scrollbar-select::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar.scrollbar-select::-webkit-scrollbar-thumb {
  background: #999;
}

.scrollbar-select.thin::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}

.mdb-select .select-input {
  user-select: none;
}

.select-label {
  position: absolute;
}

.needs-validation .mdb-select.md-form label {
  left: 0;
}

.needs-validation .mdb-select.md-form .form-control.is-valid,
.needs-validation .mdb-select.md-form .form-control.is-invalid {
  background-image: none;
}

.needs-validation .mdb-select.md-form .form-control.is-valid {
  border-color: #00c851;
}

.needs-validation .mdb-select.md-form .form-control.is-valid~.caret {
  color: #00c851;
}

.needs-validation .mdb-select.md-form .form-control.is-invalid {
  border-color: #f44336;
}

.needs-validation .mdb-select.md-form .form-control.is-invalid~.caret {
  color: #f44336;
}

.needs-validation.was-validated .mdb-select.md-form .form-control:valid {
  border-color: #00c851;
}

.needs-validation.was-validated .mdb-select.md-form .form-control:invalid {
  border-color: #f44336;
}

.mdb-select {
  position: relative;
}

.mdb-select:not(.md-outline)>.dropdown-content {
  top: -30px !important;
}

.mdb-select:not(.md-outline)>.dropdown-content[data-placement='top-start'] {
  top: 40px !important;
}

.mdb-select.select-icon .dropdown-content.fadeElement {
  width: calc(100% - 2.5rem);
}

.mdb-select.select-icon.md-outline .dropdown-content.fadeElement {
  width: calc(100% - 2rem);
}

.mdb-select.active:not(.md-outline) .select-input {
  border-bottom: 1px solid #4285f4;
  box-shadow: 0 1px 0 0 #4285f4;
}

.mdb-select.active span.caret,
.mdb-select.active label.mdb-main-label {
  color: #007bff;
}

.mdb-select.active label {
  color: #007bff;
}

.mdb-select input.select-input::selection {
  background: transparent;
}

.mdb-select input.select-input {
  box-sizing: border-box !important;
  position: relative;
  display: block;
  margin: 0 0 0.5rem 0;
  padding: 0 1.1rem 0 0;
  height: 38px;
  width: 100%;
  z-index: 2;
  font-size: 1rem;
  line-height: 38px;
  text-overflow: ellipsis;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ced4da;
  outline: none;
}

.mdb-select input.select-input:disabled {
  color: rgba(0, 0, 0, 0.3);
  cursor: default;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.mdb-select input.select-input .selected,
.mdb-select input.select-input li[data-highlight='true'] {
  background-color: rgba(0, 0, 0, 0.15);
}

.mdb-select input.select-input li.active {
  background: transparent;
}

.mdb-select input.select-input .fas,
.mdb-select input.select-input .fab,
.mdb-select input.select-input .far {
  color: inherit;
}

.mdb-select input.active {
  border-bottom: 1px solid #4285f4;
  box-shadow: 0 1px 0 0 #4285f4;
}

.mdb-select .search-wrap {
  display: block;
  padding: 1rem 0 0;
  margin: 0 0.7rem;
}

.mdb-select .search-wrap.md-form {
  margin-top: 0;
  margin-bottom: 1rem;
}

.mdb-select .search-wrap.md-form input {
  padding: 0.6rem 0 0.4rem 0;
  margin-bottom: 0;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
}

.mdb-select .search-wrap.md-form input:focus {
  box-shadow: 0 1px 0 0 #4285f4 !important;
}

.mdb-select span.caret {
  position: absolute;
  top: 1px;
  right: 0;
  height: 38px;
  font-size: 0.63rem;
  line-height: 38px;
  z-index: 2;
  color: #495057;
  transition: 0.1s ease-in-out;
}

.mdb-select span.caret.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.mdb-select.btn-reset>input.select-input,
.mdb-select.btn-reset>label.mdb-main-label {
  padding-right: 2rem;
}

.mdb-select.btn-reset.md-form.md-outline>input.select-input,
.mdb-select.btn-reset.md-form.md-outline>label.mdb-main-label:not(.active) {
  padding-right: 2.5rem;
}

.mdb-select.btn-reset.md-form.md-outline>span.close-btn {
  right: 1rem;
}

.mdb-select.btn-reset span.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1px;
  right: 0.5rem;
  height: 38px;
  z-index: 2;
  line-height: 38px;
  font-size: 0.63rem;
}

.mdb-select.btn-reset span.close-btn .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  margin: 0;
  padding: 0rem;
  line-height: 38px;
  border-radius: 50%;
}

.mdb-select.btn-reset span.close-btn .btn i {
  color: #495057;
  font-size: 0.75rem;
  transition: 0.1s ease-in-out;
}

.mdb-select.btn-reset .form-control.is-valid~span.close-btn .btn i {
  color: #00c851;
}

.mdb-select.btn-reset .form-control.is-invalid~span.close-btn .btn i {
  color: #f44336;
}

.mdb-select>label {
  position: absolute;
  top: 0;
  left: 0;
  height: 38px;
  line-height: 38px;
  font-weight: 300;
  color: #757575;
  transition: all 0.2s ease-out;
  width: auto;
  max-width: 100%;
  z-index: 2;
}

.mdb-select>label.active {
  padding: 0;
  height: initial;
  line-height: initial;
}

.mdb-select>label.active-check {
  color: #4285f4;
}

.mdb-select>label.mdb-main-label {
  z-index: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mdb-select>label.mdb-main-label {
  transform: translateY(0px) scale(1);
  padding: 0 0.7rem 0 0;
}

.mdb-select>label.mdb-main-label.active {
  transform: translateY(-14px) scale(0.8);
}

.mdb-select>label.mdb-main-label.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.mdb-select.active.dropdown-primary>label.mdb-main-label.active {
  color: #4285f4;
}

.mdb-select.active.dropdown-danger>label.mdb-main-label.active {
  color: #c00;
}

.mdb-select.active.dropdown-default>label.mdb-main-label.active {
  color: #2bbbad;
}

.mdb-select.active.dropdown-secondary>label.mdb-main-label.active {
  color: #a6c;
}

.mdb-select.active.dropdown-success>label.mdb-main-label.active {
  color: #00c851;
}

.mdb-select.active.dropdown-info>label.mdb-main-label.active {
  color: #33b5e5;
}

.mdb-select.active.dropdown-warning>label.mdb-main-label.active {
  color: #fb3;
}

.mdb-select.active.dropdown-ins>label.mdb-main-label.active {
  color: #2e5e86;
}

.mdb-select.active.dropdown-dark>label.mdb-main-label.active {
  color: #2e2e2e;
}

.mdb-select i {
  color: #000;
}

.mdb-select.active i {
  color: #007bff;
}

.mdb-select ul {
  padding-left: 0;
  list-style-type: none;
}

.mdb-select.md-form>ul li label {
  top: 0;
  font-size: 0.9rem;
  color: #4285f4;
  transform: none;
}

.mdb-select.md-form>ul li.select-toggle-all label {
  padding-left: 38px;
}

.mdb-select.md-form.select-icon input.select-input {
  width: calc(100% - 2.5rem);
  margin-left: 2.5rem;
}

.mdb-select.md-form.select-icon.md-outline input.select-input {
  width: calc(100% - 2rem);
  margin-left: 2rem;
}

.mdb-select.md-form.colorful-select>ul li.select-toggle-all:hover label {
  color: #fff;
}

.mdb-select.md-form.md-outline span.caret {
  position: absolute;
  top: 1px;
  height: 38px;
  line-height: 38px;
  right: 0.5rem;
  font-size: 0.63rem;
  color: #495057;
}

.mdb-select.md-form.md-outline.active span.caret {
  color: #4285f4;
}

.mdb-select.md-form.md-outline .dropdown-content {
  top: 0 !important;
}

.mdb-select.md-form.md-outline input.select-input {
  padding: 0.375rem 1.1rem 0.375rem 0.75rem;
  color: #495057;
}

.mdb-select.md-form.md-outline.active input.select-input {
  border-color: #4285f4;
  box-shadow: inset 0 0 0 1px #4285f4;
}

.mdb-select.md-form.md-outline>label {
  padding: 0 1.1rem 0 10px;
  background: #fff;
  transform: translateY(0px);
  transition: all 0.2s ease-out;
}

.mdb-select.md-form.md-outline>label.active {
  left: 8px;
  padding: 0 5px 0 5px;
  transform: translateY(-11px) scale(0.8);
  z-index: 2;
}

.mdb-select .select-add-option {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  color: #4285f4;
  cursor: pointer;
}

.mdb-select~.invalid-feedback,
.mdb-select~.valid-feedback {
  margin-top: -1rem;
}

.mdb-select .dropdown-content [type='checkbox']:disabled:not(:checked)+label:before {
  margin-top: 3px;
  margin-left: 0;
}

.mdb-select .dropdown-content ul {
  padding: 0;
  list-style-type: none;
}

.mdb-select .dropdown-content li span[data-multiple='true'] {
  pointer-events: none;
}

.mdb-select .dropdown-content li img {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  height: 80%;
}

.mdb-select .dropdown-content li.disabled,
.mdb-select .dropdown-content li.disabled>span,
.mdb-select .dropdown-content li.optgroup {
  color: rgba(0, 0, 0, 0.3);
  cursor: context-menu;
  background-color: transparent !important;
}

.mdb-select .dropdown-content li.optgroup {
  border-top: 1px solid #eee;
}

.mdb-select .dropdown-content li.optgroup.selected>span {
  color: rgba(0, 0, 0, 0.7);
}

.mdb-select .dropdown-content li.optgroup>span {
  color: rgba(0, 0, 0, 0.4);
}

.mdb-select.multiple-select-dropdown li [type='checkbox']+label {
  height: 0.63rem;
}

.mdb-select .dropdown-content {
  position: absolute;
  z-index: 999;
  z-index: 1021;
  display: none;
  min-width: 6.25rem;
  max-height: 40.625rem;
  margin: 0;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  opacity: 0;
  will-change: width, height;
}

.mdb-select .dropdown-content:focus {
  outline: none;
}

.mdb-select .dropdown-content ul {
  margin: 0;
  overflow-y: auto;
}

.mdb-select .dropdown-content ul li {
  width: 100%;
  height: 48px;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 1rem;
  font-weight: 400;
  background-color: transparent;
  transition: 0.15s;
}

.mdb-select .dropdown-content ul li:hover,
.mdb-select .dropdown-content ul li[data-highlight='true'] {
  background-color: #ddd;
  outline: none;
}

.mdb-select .dropdown-content ul li:focus {
  outline: none;
}

.mdb-select .dropdown-content ul li.active {
  background-color: #eee;
}

.mdb-select .dropdown-content ul li.active:hover,
.mdb-select .dropdown-content ul li.active[data-highlight='true'] {
  background-color: #e5e5e5;
}

.mdb-select .dropdown-content ul li>a,
.mdb-select .dropdown-content ul li>span {
  display: block;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.87);
}

.mdb-select .dropdown-content ul li.form-check>span>label.form-check-label {
  transform: translate(0);
  color: #000;
}

.mdb-select .dropdown-content ul li>a>i {
  height: inherit;
  line-height: inherit;
}

.mdb-select.colorful-select .dropdown-content {
  padding: 0;
}

.mdb-select.colorful-select .dropdown-content li.active span,
.mdb-select.colorful-select .dropdown-content li:hover span {
  color: #fff !important;
  box-shadow: none;
}

.mdb-select.colorful-select .dropdown-content li.active span [type='checkbox']+label,
.mdb-select.colorful-select .dropdown-content li:hover span [type='checkbox']+label {
  color: #fff;
}

.mdb-select.colorful-select .dropdown-content li.active span [type='checkbox']+label:before,
.mdb-select.colorful-select .dropdown-content li.active span [type='checkbox']+label:after,
.mdb-select.colorful-select .dropdown-content li:hover span [type='checkbox']+label:before,
.mdb-select.colorful-select .dropdown-content li:hover span [type='checkbox']+label:after {
  border-color: #fff;
}

.mdb-select.colorful-select .dropdown-content li.active span [type='checkbox']:checked+label:before,
.mdb-select.colorful-select .dropdown-content li:hover span [type='checkbox']:checked+label:before {
  border-color: transparent #fff #fff transparent;
}

.mdb-select.colorful-select .dropdown-content li a:hover,
.mdb-select.colorful-select .dropdown-content li span:hover {
  color: #fff !important;
  border-radius: 0;
  box-shadow: none;
  transition: 0.15s;
}

.mdb-select.colorful-select .dropdown-content li a:hover [type='checkbox']+label,
.mdb-select.colorful-select .dropdown-content li span:hover [type='checkbox']+label {
  color: #fff !important;
}

.mdb-select.colorful-select .dropdown-content li a:hover [type='checkbox']+label:before,
.mdb-select.colorful-select .dropdown-content li span:hover [type='checkbox']+label:before {
  border-color: #fff;
}

.mdb-select.colorful-select .dropdown-content li a:hover [type='checkbox']:checked+label:before,
.mdb-select.colorful-select .dropdown-content li span:hover [type='checkbox']:checked+label:before {
  border-color: transparent #fff #fff transparent;
}

.mdb-select.colorful-select .dropdown-content li.disabled.active span,
.mdb-select.colorful-select .dropdown-content li:disabled.active span,
.mdb-select.colorful-select .dropdown-content li.optgroup.active span {
  color: #9e9e9e !important;
  cursor: default;
  border-bottom-color: #9e9e9e;
  box-shadow: none;
}

.mdb-select.colorful-select .dropdown-content li.disabled a:hover,
.mdb-select.colorful-select .dropdown-content li.disabled span:hover,
.mdb-select.colorful-select .dropdown-content li:disabled a:hover,
.mdb-select.colorful-select .dropdown-content li:disabled span:hover,
.mdb-select.colorful-select .dropdown-content li.optgroup a:hover,
.mdb-select.colorful-select .dropdown-content li.optgroup span:hover {
  color: #9e9e9e !important;
  cursor: default;
  background-color: #fff !important;
  border-bottom-color: #9e9e9e;
  box-shadow: none;
}

.mdb-select.colorful-select .dropdown-content li.disabled label,
.mdb-select.colorful-select .dropdown-content li:disabled label,
.mdb-select.colorful-select .dropdown-content li.optgroup label {
  cursor: default;
}

.mdb-select.dropdown-primary .dropdown-content li.active,
.mdb-select.dropdown-primary .dropdown-content li:hover,
.mdb-select.dropdown-primary .dropdown-content li span:hover,
.mdb-select.dropdown-primary .dropdown-content li a {
  background-color: #4285f4 !important;
}

.mdb-select.dropdown-primary .dropdown-content li[data-highlight='true'] {
  background-color: #ddd !important;
}

.mdb-select.dropdown-primary .dropdown-content li[data-highlight='true'] span,
.mdb-select.dropdown-primary .dropdown-content li[data-highlight='true'] [type='checkbox']+label {
  color: #000 !important;
}

.mdb-select.dropdown-primary .dropdown-content li[data-highlight='true'] [type='checkbox']:checked+label:before {
  border-color: transparent #8a8a8a #8a8a8a transparent !important;
}

.mdb-select.dropdown-primary .dropdown-content li[data-highlight='true'] [type='checkbox']+label:before {
  border-color: #8a8a8a !important;
}

.mdb-select.dropdown-primary .dropdown-content li.disabled.active {
  background-color: transparent !important;
}

.mdb-select.dropdown-primary .search-wrap input.select-search-input:focus {
  border-bottom: 1px solid #4285f4 !important;
  border-color: #4285f4;
  box-shadow: 0 1px 0 0 #4285f4;
}

.mdb-select.dropdown-danger .dropdown-content li.active,
.mdb-select.dropdown-danger .dropdown-content li:hover,
.mdb-select.dropdown-danger .dropdown-content li span:hover,
.mdb-select.dropdown-danger .dropdown-content li a {
  background-color: #c00 !important;
}

.mdb-select.dropdown-danger .dropdown-content li[data-highlight='true'] {
  background-color: #ddd !important;
}

.mdb-select.dropdown-danger .dropdown-content li[data-highlight='true'] span,
.mdb-select.dropdown-danger .dropdown-content li[data-highlight='true'] [type='checkbox']+label {
  color: #000 !important;
}

.mdb-select.dropdown-danger .dropdown-content li[data-highlight='true'] [type='checkbox']:checked+label:before {
  border-color: transparent #8a8a8a #8a8a8a transparent !important;
}

.mdb-select.dropdown-danger .dropdown-content li[data-highlight='true'] [type='checkbox']+label:before {
  border-color: #8a8a8a !important;
}

.mdb-select.dropdown-danger .dropdown-content li.disabled.active {
  background-color: transparent !important;
}

.mdb-select.dropdown-danger .search-wrap input.select-search-input:focus {
  border-bottom: 1px solid #c00 !important;
  border-color: #c00;
  box-shadow: 0 1px 0 0 #c00;
}

.mdb-select.dropdown-default .dropdown-content li.active,
.mdb-select.dropdown-default .dropdown-content li:hover,
.mdb-select.dropdown-default .dropdown-content li span:hover,
.mdb-select.dropdown-default .dropdown-content li a {
  background-color: #2bbbad !important;
}

.mdb-select.dropdown-default .dropdown-content li[data-highlight='true'] {
  background-color: #ddd !important;
}

.mdb-select.dropdown-default .dropdown-content li[data-highlight='true'] span,
.mdb-select.dropdown-default .dropdown-content li[data-highlight='true'] [type='checkbox']+label {
  color: #000 !important;
}

.mdb-select.dropdown-default .dropdown-content li[data-highlight='true'] [type='checkbox']:checked+label:before {
  border-color: transparent #8a8a8a #8a8a8a transparent !important;
}

.mdb-select.dropdown-default .dropdown-content li[data-highlight='true'] [type='checkbox']+label:before {
  border-color: #8a8a8a !important;
}

.mdb-select.dropdown-default .dropdown-content li.disabled.active {
  background-color: transparent !important;
}

.mdb-select.dropdown-default .search-wrap input.select-search-input:focus {
  border-bottom: 1px solid #2bbbad !important;
  border-color: #2bbbad;
  box-shadow: 0 1px 0 0 #2bbbad;
}

.mdb-select.dropdown-secondary .dropdown-content li.active,
.mdb-select.dropdown-secondary .dropdown-content li:hover,
.mdb-select.dropdown-secondary .dropdown-content li span:hover,
.mdb-select.dropdown-secondary .dropdown-content li a {
  background-color: #a6c !important;
}

.mdb-select.dropdown-secondary .dropdown-content li[data-highlight='true'] {
  background-color: #ddd !important;
}

.mdb-select.dropdown-secondary .dropdown-content li[data-highlight='true'] span,
.mdb-select.dropdown-secondary .dropdown-content li[data-highlight='true'] [type='checkbox']+label {
  color: #000 !important;
}

.mdb-select.dropdown-secondary .dropdown-content li[data-highlight='true'] [type='checkbox']:checked+label:before {
  border-color: transparent #8a8a8a #8a8a8a transparent !important;
}

.mdb-select.dropdown-secondary .dropdown-content li[data-highlight='true'] [type='checkbox']+label:before {
  border-color: #8a8a8a !important;
}

.mdb-select.dropdown-secondary .dropdown-content li.disabled.active {
  background-color: transparent !important;
}

.mdb-select.dropdown-secondary .search-wrap input.select-search-input:focus {
  border-bottom: 1px solid #a6c !important;
  border-color: #a6c;
  box-shadow: 0 1px 0 0 #a6c;
}

.mdb-select.dropdown-success .dropdown-content li.active,
.mdb-select.dropdown-success .dropdown-content li:hover,
.mdb-select.dropdown-success .dropdown-content li span:hover,
.mdb-select.dropdown-success .dropdown-content li a {
  background-color: #00c851 !important;
}

.mdb-select.dropdown-success .dropdown-content li[data-highlight='true'] {
  background-color: #ddd !important;
}

.mdb-select.dropdown-success .dropdown-content li[data-highlight='true'] span,
.mdb-select.dropdown-success .dropdown-content li[data-highlight='true'] [type='checkbox']+label {
  color: #000 !important;
}

.mdb-select.dropdown-success .dropdown-content li[data-highlight='true'] [type='checkbox']:checked+label:before {
  border-color: transparent #8a8a8a #8a8a8a transparent !important;
}

.mdb-select.dropdown-success .dropdown-content li[data-highlight='true'] [type='checkbox']+label:before {
  border-color: #8a8a8a !important;
}

.mdb-select.dropdown-success .dropdown-content li.disabled.active {
  background-color: transparent !important;
}

.mdb-select.dropdown-success .search-wrap input.select-search-input:focus {
  border-bottom: 1px solid #00c851 !important;
  border-color: #00c851;
  box-shadow: 0 1px 0 0 #00c851;
}

.mdb-select.dropdown-info .dropdown-content li.active,
.mdb-select.dropdown-info .dropdown-content li:hover,
.mdb-select.dropdown-info .dropdown-content li span:hover,
.mdb-select.dropdown-info .dropdown-content li a {
  background-color: #33b5e5 !important;
}

.mdb-select.dropdown-info .dropdown-content li[data-highlight='true'] {
  background-color: #ddd !important;
}

.mdb-select.dropdown-info .dropdown-content li[data-highlight='true'] span,
.mdb-select.dropdown-info .dropdown-content li[data-highlight='true'] [type='checkbox']+label {
  color: #000 !important;
}

.mdb-select.dropdown-info .dropdown-content li[data-highlight='true'] [type='checkbox']:checked+label:before {
  border-color: transparent #8a8a8a #8a8a8a transparent !important;
}

.mdb-select.dropdown-info .dropdown-content li[data-highlight='true'] [type='checkbox']+label:before {
  border-color: #8a8a8a !important;
}

.mdb-select.dropdown-info .dropdown-content li.disabled.active {
  background-color: transparent !important;
}

.mdb-select.dropdown-info .search-wrap input.select-search-input:focus {
  border-bottom: 1px solid #33b5e5 !important;
  border-color: #33b5e5;
  box-shadow: 0 1px 0 0 #33b5e5;
}

.mdb-select.dropdown-warning .dropdown-content li.active,
.mdb-select.dropdown-warning .dropdown-content li:hover,
.mdb-select.dropdown-warning .dropdown-content li span:hover,
.mdb-select.dropdown-warning .dropdown-content li a {
  background-color: #fb3 !important;
}

.mdb-select.dropdown-warning .dropdown-content li[data-highlight='true'] {
  background-color: #ddd !important;
}

.mdb-select.dropdown-warning .dropdown-content li[data-highlight='true'] span,
.mdb-select.dropdown-warning .dropdown-content li[data-highlight='true'] [type='checkbox']+label {
  color: #000 !important;
}

.mdb-select.dropdown-warning .dropdown-content li[data-highlight='true'] [type='checkbox']:checked+label:before {
  border-color: transparent #8a8a8a #8a8a8a transparent !important;
}

.mdb-select.dropdown-warning .dropdown-content li[data-highlight='true'] [type='checkbox']+label:before {
  border-color: #8a8a8a !important;
}

.mdb-select.dropdown-warning .dropdown-content li.disabled.active {
  background-color: transparent !important;
}

.mdb-select.dropdown-warning .search-wrap input.select-search-input:focus {
  border-bottom: 1px solid #fb3 !important;
  border-color: #fb3;
  box-shadow: 0 1px 0 0 #fb3;
}

.mdb-select.dropdown-dark .dropdown-content li.active,
.mdb-select.dropdown-dark .dropdown-content li:hover,
.mdb-select.dropdown-dark .dropdown-content li span:hover,
.mdb-select.dropdown-dark .dropdown-content li a {
  background-color: #2e2e2e !important;
}

.mdb-select.dropdown-dark .dropdown-content li[data-highlight='true'] {
  background-color: #ddd !important;
}

.mdb-select.dropdown-dark .dropdown-content li[data-highlight='true'] span,
.mdb-select.dropdown-dark .dropdown-content li[data-highlight='true'] [type='checkbox']+label {
  color: #000 !important;
}

.mdb-select.dropdown-dark .dropdown-content li[data-highlight='true'] [type='checkbox']:checked+label:before {
  border-color: transparent #8a8a8a #8a8a8a transparent !important;
}

.mdb-select.dropdown-dark .dropdown-content li[data-highlight='true'] [type='checkbox']+label:before {
  border-color: #8a8a8a !important;
}

.mdb-select.dropdown-dark .dropdown-content li.disabled.active {
  background-color: transparent !important;
}

.mdb-select.dropdown-dark .search-wrap input.select-search-input:focus {
  border-bottom: 1px solid #2e2e2e !important;
  border-color: #2e2e2e;
  box-shadow: 0 1px 0 0 #2e2e2e;
}

.mdb-select.dropdown-ins .dropdown-content li.active,
.mdb-select.dropdown-ins .dropdown-content li:hover,
.mdb-select.dropdown-ins .dropdown-content li span:hover,
.mdb-select.dropdown-ins .dropdown-content li a {
  background-color: #2e5e86 !important;
}

.mdb-select.dropdown-ins .dropdown-content li[data-highlight='true'] {
  background-color: #ddd !important;
}

.mdb-select.dropdown-ins .dropdown-content li[data-highlight='true'] span,
.mdb-select.dropdown-ins .dropdown-content li[data-highlight='true'] [type='checkbox']+label {
  color: #000 !important;
}

.mdb-select.dropdown-ins .dropdown-content li[data-highlight='true'] [type='checkbox']:checked+label:before {
  border-color: transparent #8a8a8a #8a8a8a transparent !important;
}

.mdb-select.dropdown-ins .dropdown-content li[data-highlight='true'] [type='checkbox']+label:before {
  border-color: #8a8a8a !important;
}

.mdb-select.dropdown-ins .dropdown-content li.disabled.active {
  background-color: transparent !important;
}

.mdb-select.dropdown-ins .search-wrap input.select-search-input:focus {
  border-bottom: 1px solid #2e5e86 !important;
  border-color: #2e5e86;
  box-shadow: 0 1px 0 0 #2e5e86;
}

.md-dropdown li.disabled.active {
  background-color: transparent !important;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .mdb-select.md-form.md-outline input.select-input {
      padding: 0 0.75rem;
    }

    .mdb-select input.select-input {
      line-height: 2.5rem;
    }
  }
}
